@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap");

* {
  font-family: "Josefin Sans", sans-serif;
 
}

.main-heading {
  color: #fff;
  font-size: 50px;
  font-family :Georgia, 'Times New Roman', Times, serif;
}

.Item-inside {
  height: 220px;
  border-radius: 12px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.Item-inside:hover img,
.Item-inside:hover .btn {
  transform: scale(1.1);
}

.img-div {

  padding: 0;
}

.img-div img {
  width: 200px; height: 200px;
    margin: auto;
    display: block;
    align-content: center;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.img-fluid {
  width: 200px; height: 200px;
    margin: auto;
    display: block;
  height: 230px;
  align-items: center;
}

.main-title h1 {

 
	border-radius: 7px 7px 0px 0px;
	padding: 0px;
	color: #fff;
	text-align: center;
  text-transform: uppercase;
	font-family :Georgia, 'Times New Roman', Times, serif;

}

.main-title p {
  font-size: 25px;
  color: white;
  text-align: center;
}

.price-book-divide h2 {
  font-size: 20px;
  font-weight: 400;
  color: #4db6ac;
  align-items: center;
}

.price-book-divide {
  margin-bottom: 10px;
}



.row {
  margin-right: 0;
  margin-left: 0px;
}

.btn-primary {
  background-color: black;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out;
  align-items: center;
}

.btn-primary:hover {
  background-color: red;
  outline: none;
  border: none;
  align-items: center;
}

.btn-warning:hover {
  background-color: black;
  color: whitesmoke;
  outline: none;
  align-items: center;
}
.readbutton {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
  align-self: center;
}

.k {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create {
  position: absolute;
  top: 100px;
  right: 20px;
  background-color: teal;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
}


